.wrapper {
  padding: 10px;
  width: 100%;
  margin: 0 auto;
}

.close {
  list-style: none;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.closeButton {
  padding: 8px;
  cursor: pointer;
  font-weight: bold;
}

.card {
  border: 1px solid black;
  border-radius: 6px;
  padding: 20px 20px 0 40px;
}

.card li {
  margin-bottom: 20px;
}
