.card {
    list-style: none;
    padding: 10px;
    margin: 16px;
    border: 1px solid black;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-height: 222px;
    max-width: 152px;
    box-shadow:
        rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.16);
}

.card:active {
    background-color: rgba(0, 0, 0, 0.44);
}

.name {
    margin: 0;
    font-size: 1rem;
}

.imageItem {
    margin-top: auto;
}

.image {
    width: 130px;
    height: 130px;
}
