.container {
    display: flex;
    align-items: center;
}

.searchWrapper {
    position: relative;
}

.searchIcon {
    position: absolute;
    top: 2px;
    left: 3px;
    border-right: 1px solid black;
}

.search {
    height: 30px;
    font-size: 1rem;
    padding-left: 35px;
}

.searchButton:hover {
    background-color: rgb(207, 205, 205);
}

.errorButton {
    border: 2px solid orange;
    background-color: orange;
    border-radius: 10px;
    margin-left: 30px;
    color: white;
    padding: 6px;
    font-size: 15px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.errorButton:hover {
    background-color: rgb(223, 149, 11);
}
