.container {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

.top {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search {
  margin-right: 15px;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
