.wrapper {
    padding: 20px;
    display: flex;
}

.cardList {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 50px;
}

.loaderWrapper {
    width: 100%;
}
